<!doctype html>
<html>
  <head>
    <style>
      body { animation: fadein {{ fadein_seconds }}s; }
      p {
        color: {{ color }};
        font-size: 30vh;
        font-family: symbola, sans-serif, monospace;
        text-align: center;
        overflow: hidden;
      }
      @keyframes fadein { 0% { filter: blur(90vh); } }
    </style>
  </head>
  <body>
    <p>{{ card }}</p>
  </body>
</html>
